opencv-python==4.5.5.64
geffnet==1.0.2
Shapely==1.8.5
scipy==1.10.1
lxml==4.9.3
xmljson==0.2.0
ujson==1.35
PyYAML==5.4.1
scikit-learn==1.0.2
matplotlib==3.5.1
tqdm==4.64.1
tensorboard==2.12.2
tensorboardX==2.5
gdown==4.4.0
p_tqdm==1.3.3
ortools==9.3.10497
thop==0.1.1.post2209072238
munkres
prettytable
protobuf==3.20.3
numpy==1.21.6
